*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #191919;
}
.image{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.image div{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        padding: 10px;
        flex: none;
        
}
.image div img{
    width: 100%;
    height: 330px;
    width: 250px;
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.image::-webkit-scrollbar{
    display: none;
}
.image-wrad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    font-size: 10px;
}
#backBtn, #nextBtn{
    cursor: pointer;
    width: 100px;
    margin: 30px;
}
.image div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

